*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    /* background-color: gray; */
    color:white;
    height: 52px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

#navbar .spanholder{
    display: inline-block;
    margin: 0px 0px;
font-size: large;
}
#navbar::before{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background-color: black;
    opacity: 0.80;
    z-index: -1;
    /* background-color: gray; */
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;

}
/* the box on the top for slide show */
#slide::before{
    transition: background-image 1s;
    /* there will be images here to be added later */
    position: absolute;
    content: '';
    top: -55px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -2;
    background-image: var(--image-back);
    /* background-image: url('https://images.unsplash.com/photo-1511067007398-7e4b90cfa4bc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1949&q=80'); */
    /* background-image: url('https://images.unsplash.com/photo-1560419015-7c427e8ae5ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80'); */
    /* background-image: url('https://images.unsplash.com/photo-1555066931-4365d14bab8c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80'); */
    background-position: center;
    background-size: cover;
    background-color: black;
}

#slide{
    box-shadow: inset 0 0 100px black;
    /* z-index: 0; */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-end;
    /* background-color: aquamarine; */
    height: 70vh;
    width: 100%;
}
.bigSpan{
    text-shadow:0px 0px 4px white;
    color:black;
    font-size: 30px;
}
.smallSpan{
    text-shadow:0px 0px 5px white;
    color: black;
}
#spanHolder{
        /* font-family:Georgia, 'Times New Roman', Times, serif; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
    height: max-content;
    width: max-content;
    color:ivory;
    /* background-color: beige; */
}
#slideButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    position: relative;
    margin: 32vh 0px ;
    padding: 0px 0px ;
    
}
#button1{
    position: absolute;
    left: 32px;
    margin: 0px 0px ;
    margin-left: 0px;
    padding: 0px 0px ;

}
#button2{
    position: absolute;
    right: 32px;
    margin-right: 0px;
    margin: 0px 0px ;
    padding: 0px 0px ;

}
.slidebutton{
    background-color: gray;
    border-radius: 10px;
    border: none;
    outline: none;
    width: 36px;
    height: 64px;
    color: white;
    opacity: 50%;
    font-size: 33px;
}
.slidebutton:active{
background-color: white;
    border-radius: 10px;
    border: none;
    outline: none;
    width: 36px;
    height: 64px;
    color:gray;
    opacity: 50%;
    font-size: 33px;
}
/* the styling for my  profile div */
#profileDiv{
    margin:0px 0px ;
    padding:35px 0px;
    background-color: rgb(238, 238, 238);

}
.holderDiv{
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px 0px;
    margin: 0px 0px;
}

#Pphoto{
    transition: all 250ms ease-in;
    margin-bottom: 10px;
    background-color: red;
    border: black;
    border-radius: 90px;
    height: 180px;
    width: 180px;
}
#Pphoto:hover{
    transition: all 250ms ease-in;
    margin-bottom: 10px;
    background-color: red;
    border: black;
    border-radius: 100px;
    height: 200px;
    width: 200px;
}

#profileDiv p{
    text-align: center;
    display: block;
    width: 200px;
    height: max-content;
}

/* css for the lower section */
#lastSection{
    background-color: rgb(238, 238, 238);
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 35px 62px;
    margin: 0px 0px;
}

#letsGo{
    transition: all 500ms ease-in-out;
    outline: none;
    background-color: black;
    border: none;
    border-radius: 10px;
    height: 47px;
    width: 102px;
    font-size: 27px;
    margin-top: 48px;
    color: ivory;
}
#letsGo:hover{
    transition: all 500ms ease-in-out;
    box-shadow: 0px 0px 7px black;
}